<div class="response-link">
  <h3>Success! Please use this link:</h3>
  <a href="http://localhost:3000/shorturl/{{shortUrl}}">http://localhost:3000/shorturl/{{shortUrl}}</a>
  <button>Copy</button>
</div>